.container-main {
    margin: 60px 15%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    height: 85vh;
    text-align: center;
}

.message {
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}
